<html>

<head>
    <script src="https://kit.fontawesome.com/2e556ec692.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/css/styleSheet.css' />
    <link rel="stylesheet" href="/css/theBand.css" asp-append-version="true" />
    <title>
        Home
    </title>
</head>