<div class="w3-top w3-bar w3-black row">
    <div class="col">
        <a class="w3-bar-item w3-button center" href="/read">OUR DIARY</a>
    </div>
    <div class="col">
        <a class="w3-bar-item w3-button center" href="/write">MY DIARY</a>
    </div>
    <div class="col">
        <a style="color:white;" class="w3-bar-item w3-button center" href="/logout">LOG OUT</a>
    </div>
</div>