<div class="whiteBox searchField">
    <form action="/contact/search" method="POST">
        <input class="" type="date" name="searchInput" placeholder="Name" id="emailId">
        <button type="submit" class="fa fa-search searchButton roundButton"></button>
        <!-- <button type="submit">Search</button> -->
    </form>
</div>